@model List<Event>
@*Index is not unlike what we've done during labs*@
@{
    ViewData["Title"] = "Events";

}


<h2>Events</h2>
<div>
    <a asp-action="Create" class="btn btn-primary">Create New Event</a> 
    <a class="btn btn-secondary" asp-controller="Event" asp-action="Summary">View Event Summary</a>
</div>

<form asp-action="index" method="get" style="margin-top: 20px;">
    <input type="text" name="userSearch" id="searchBox" placeholder="Search by title..." />
    <select name="categoryId" id="categoryId">>
        <option value=""> All Categories </option>
        
        @{
            var selectedCategoryId = Context.Request.Query["categoryId"].ToString(); //A
        }
        @foreach (var c in ViewBag.Categories)
        {
            var isSelected = selectedCategoryId == c.Value;
            @if (isSelected)
            {
                <option value="@c.Value" selected>@c.Text</option>
            }
            else
            {
                <option value="@c.Value">@c.Text</option>
            }
        }
    </select>
</form>
<div id="eventResults">
    @await Html.PartialAsync("_EventTable", Model)
</div>

@section Scripts {
    <script src="~/js/events.js"></script>
}