@model List<Category>
@*Index is not unlike what we've done during labs*@
@{
    ViewData["Title"] = "Categories";
}


<h2>Categories</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
   
</div>

 

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="text"
           name="searchString"
           id="categorySearchBox"
           class="form-control"
           placeholder="Search by category..."
           value="@Context.Request.Query["searchString"]" />
</form>


<div id="categoryResults">
    @await Html.PartialAsync("_CategoryTable", Model)
</div>


@section Scripts {
    <script src="~/js/categories.js"></script>
}

